body{
font-family: 'Oxygen', sans-serif;
line-height: 1.8;
justify-content: center;
}

.animatedHeader{
  background-image: url('../assets/img/space1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

#kyraMobile{
  display: none;
}

#backgroundAnimation{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
#canvasContainer{
  padding: 0;
  margin: 0 auto;
}
.navbar {
    margin-bottom: 0;
    background-color: #610559;
    z-index: 9999;
    border: 0;
    font-size: 15px;
    line-height: 3;
    letter-spacing: 3px;
    border-radius: 0;
}

.container{
  padding-top: 20px;
}

.navbar li a, .navbar .navbar-toggler {
    color: #fff;
    line-height: 3;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', cursive;
  text-align: center;
}

.container-fluid {
  padding: 60px 50px;
}

.aboutUsSection{
  background-color: #610559;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}


.imgk{
  width: 40%;
  position: absolute;
  left: 30%;
  top: 140px;
}

.imgd{
  width: 40%;
  position: absolute;
  left: 60%;
  top: 100px;
}

.imgt{
  width: 350px;
  position: absolute;
  left: 100px;
  top: 100px;
}

.imgs{
  width: 300px;
  position: absolute;
  left: 130px;
  top: 450px;
}

.imgu{
  padding-top: 100px;
  height: 400px;
  width: 300px;
  position: absolute;
  left: 400px;
  top: 500px;
}

.btn-primary{
  background-color: #bc84ca;
  text-decoration-color: black;
  color: #fff;
  border-color: #610559;
  margin-top: 16px;
}

.btn-primary:hover{
  background-color: #610559;
    border-color: #bc84ca;
}

.btn-outline-info:not(:disabled):not(.disabled):active{
  background-color: #610559;
    border-color: #bc84ca;
}

.btn-outline-info:focus{
  outline: none;
  box-shadow: none;
}

footer{
  background-color: #610559;
  color: #fff;
}

@media (max-width: 1200px){

  .imgk{
    padding-top: 100px;
    height: 500px;
    width: 500px;
    position: absolute;
    left: 330px;
    top: 30px;
  }

  .imgd{
    position: absolute;
    left: 600px;
    top: 10px;
  }

  .imgt{
    padding-top: 100px;
    height: 300px;
    width: 250px;
    position: absolute;
    left: 100px;
    top: 10px;
  }

  .imgs{
    padding-top: 100px;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 30px;
    top: 110px;
  }

  .imgu{
    padding-top: 100px;
    height: 400px;
    width: 300px;
    position: absolute;
    left: 150px;
    top: 250px;
  }
}

@media (max-width: 992px){

  .imgk{
    padding-top: 100px;
    height: 400px;
    width: 400px;
    position: absolute;
    left: 300px;
    top: 50px;
  }

  .imgd{
    padding-top: 100px;
    height: 450px;
    width: 400px;
    position: absolute;
    left: 600px;
    top: 40px;
  }

  .imgt{
    padding-top: 100px;
    height: 300px;
    width: 250px;
    position: absolute;
    left: 100px;
    top: -40px;
  }

  .imgs{
    padding-top: 100px;
    height: 250px;
    width: 200px;
    position: absolute;
    left: 50px;
    top: 50px;
  }

  .imgu{
    padding-top: 100px;
    height: 300px;
    width: 200px;
    position: absolute;
    left: 140px;
    top: 160px;
  }
}

@media (max-width: 768px){
  .imgk{
    padding-top: 100px;
    height: 350px;
    width: 300px;
    position: absolute;
    left: 240px;
    top: 35px;
  }

  .imgd{
    padding-top: 100px;
    height: 400px;
    width: 350px;
    position: absolute;
    left: 400px;
    top: -10px;
  }

  .imgt{
    padding-top: 100px;
    height: 250px;
    width: 200px;
    position: absolute;
    left: 80px;
    top: -30px;
  }

  .imgs{
    padding-top: 100px;
    height: 250px;
    width: 200px;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .imgu{
    padding-top: 100px;
    height: 300px;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 90px;
  }
}

@media (max-width: 572px){
  .imgk{
    padding-top: 100px;
    height: 300px;
    width: 250px;
    position: absolute;
    left: 160px;
    top: -20px;
  }

  .imgd{
    padding-top: 100px;
    height: 300px;
    width: 150px;
    position: absolute;
    left: 380px;
    top: -15px;
  }

  .imgt{
    padding-top: 100px;
    height: 200px;
    width: 150px;
    position: absolute;
    left: 50px;
    top: -20px;
  }

  .imgs{
    padding-top: 100px;
    height: 200px;
    width: 100px;
    position: absolute;
    left: 20px;
    top: 5px;
  }

  .imgu{
    padding-top: 100px;
    height:200px;
    width: 100px;
    position: absolute;
    left: 70px;
    top: 70px;
  }
}

@media (max-width: 320px){
  #kyra{
    display: none;
  }

  #kyraMobile{
    display: block;
  }
}
